@{
    ViewBag.Title = "Crear empleado";
    ViewBag.Css = "formEmpleado.css";
}

<div>
    <h6 class="display-4 mt-4 fw-bold text-center mb-5">Listado de empleados</h6>
    <div class="row">
        <div class="col-md-3 border container-left">
            <a class="btn btn-secondary" asp-area="" asp-controller="Employees" asp-action="Create">Registrar nuevo empleado</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Employees" asp-action="Index">Listado de empleados</a>
        </div>
        <div class="col-md-8 container-right">
            <div><h4 class="text-center">Informacion de empleado</h4></div>
            <form action="Create" method="post" enctype="multipart/form-data">
            <div class="columFather d-flex justify-content-around">
            <div class="colum1">
           <div>
                <label for="">Nombres</label>
                <input type="text">
           </div>
           <div>
                <label for="">Fecha de nacimiento</label>
                <input type="date">
           </div>
           <div>
                <label for="">Direccion</label>
                <input type="text">
           </div>
           <div>
                <label for="">Titulo academico</label>
                <input type="text">
            </div>
            </div>

            <div class="colum2">
           <div>
                <label for="">Apellidos</label>
                <input type="text">
           </div>
           <div>
                <label for="">Genero</label>
                <select name="Genero" id="">
                    <option value="" disabled>Seleccionar estado civil</option>
                    <option value="M">Masculino</option>
                    <option value="F">Femenino</option>
                    <option value="O">Otro</option>
                </select>
           </div>
           <div>
                <label for="">Estado civil</label>
                <select name="EstadoC" id="">
                    <option value="" disabled>Seleccionar estado civil</option>
                    <option value="Soltero">Soltero</option>
                    <option value="Casado">Casado</option>
                    <option value="Divorciado">Divorciado</option>
                    <option value="Separado">Separado</option>
                    <option value="Union libre">Union libre</option>
                </select>
           </div>
           <div>
                <label for="">Area</label>
                <input type="text">
           </div>
           </div>

            <div class="colum3">
           <div>
                <label for="">Correo</label>
                <input type="text">
           </div>
           <div>
                <label for="">Telefono</label>
                <input type="text">
           </div>
           <div>
                <label for="">Salario deseado</label>
                <input type="text">
           </div>
           <div>
                <label for="">Idiomas</label>
                <input type="text">
           </div>
           </div>
           </div>


           <div class="row1">
            <label for="">Acerca de</label>
            <input type="text">
           </div>
           <div class="row2">
            <div>
                <label for="">Foto</label>
                <input type="file">
           </div>
           <div>
                <label for="">Hoja de vida</label>
                <input type="file">
           </div>
           </div>
           <input class="btn-crear" type="submit" value="Crear nuevo empleado">
           </form>
        </div>
    </div>
</div>