@* @{
    ViewBag.Title = "Jobs";
}
<div class="container">
    <h6 class="display-4 mt-4 fw-bold text-center mb-5">Crear nuevo empleado</h6>
    <div class="row">
        <div class="col-md-3 border container-left">
            <a class="btn btn-secondary" asp-area="" asp-controller="Jobs" asp-action="Create">Registrar nuevo
                empleado</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Jobs" asp-action="Index">Listado de empleados</a>
        </div>
        <div class="col-md-8 container-right">
            <div><img src="" alt=""></div>
            <h5></h5>
            <p></p>
        </div>
        <div>
            <div>
                <table>
                    <tr>
                        <td>Telefono: </td>
                        <td>Direccion: </td>
                        <td>Fecha nacimiento: </td>
                    </tr>
                    <tr>
                        <td>Genero: </td>
                        <td>Estado: </td>
                        <td>Salario deseado: </td>
                    </tr>
                    <tr>
                        <td>Titulo: </td>
                        <td>Idiomas: </td>
                        <td>Area: </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div> *@