
/* Estilo del body */

body{
    background-color: rgb(207, 207, 207);
}

/* Estilos a los contenedores principales */

.container-left{
    height: 70vh;
    padding: 20px 30px;
    margin-left: 40px;
    border: 4px solid black !important;
    background-color: white;
    a{
        width: 100%;
        margin-bottom: 10px;
    }
    
}

.container-right{
    margin-left: 50px;
    height: 70vh;
    padding: 20px 30px;
    border: 4px solid black !important;
    background-color: white;
    
    
}

/* Tabla de emplesas */

.table-list{
    border: 2px solid black !important;
    text-align: center;
    th{
        border: 2px solid black !important;
        background-color: rgba(128, 128, 128, 0.67);
    }
    td{
        border: 2px solid black !important;
    }
    td:last-child{
        display: flex;
        gap: 5px;
    }
}