@model Job;
@{
    ViewBag.Title = "Create";
    ViewBag.Css = "form.css";
}
<div class="container">
    <h6 class="display-4 mt-4 fw-bold text-center mb-5">Crear nueva oferta</h6>
    <div class="row">
        <div class="col-md-3 border container-left">
            <a class="btn btn-secondary" asp-area="" asp-controller="Jobs" asp-action="Create">Crear oferta de
                empleo</a>
            <a class="btn btn-primary" asp-area="" asp-controller="Jobs" asp-action="Index">Listado de ofertas</a>
        </div>
        <div class="col-md-8 container-right">
            <h6>Informacion de la empresa</h6>
            <form asp-action="Update" method="post" enctype="multipart/form-data">
                <div>
                    <div>
                        <label for="">Nombre de la empresa</label>
                        <input type="text" asp-for="NameCompany">
                    </div>
                    <div>
                        <label for="">Logo de la empresa</label>
                        <input type="file" name="file" asp-for="LogoCompany">
                    </div>
                </div>
                <div>
                    <h6>Informacion de la oferta</h6>
                    <div>
                        <label for="">Ttitulo de la oferta</label>
                        <input type="text" asp-for="OfferTitle">
                    </div>
                    <div>
                        <label for="">salario</label>
                        <input type="text" asp-for="Salary">
                    </div>
                    <div>
                        <label for="">Idiomas</label>
                        <input type="text" asp-for="Languages">
                    </div>


                    <div>
                        <label for="">Pais</label>
                        <input type="text" asp-for="Country">
                    </div>
                    <div>
                        <label for="">Vacantes/posiciones</label>
                        <input type="text" asp-for="Positions">
                    </div>
                    <div>
                        <label for="">Estado de la oferta</label>
                        <select name="status" id="">
                            <option value="">Seleccione estado</option>
                            <option value="Activo">Activo</option>
                            <option value="Inactivo">Inactivo</option>
                        </select>
                    </div>



                    <div>
                        <label for="">Descripcion</label>
                        <input type="text" asp-for="Description">
                    </div>

                    <input class="btn btn-success" type="submit" value="Actualizar">

            </form>
        </div>
    </div>
</div>
</div>
</div>